<footer class="page-footer text-center theme-blue">
  <div class="container">
    <!-- .nav-social-->
    <ul class="list-unstyled list-inline nav-social nav-light-gray">
      <li>
        <a href="#" class="fa fa-twitter"></a>
      </li>
      <li>
        <a href="#" class="fa fa-facebook"></a>
      </li>
      <li>
        <a href="#" class="fa fa-youtube-play"></a>
      </li>
    </ul>
    <!-- /.nav-social-->
    <ul class="list-unstyled list-inline small">
      <li><a href="support.html">Support</a></li>
      <li><a href="blog-3-columns.html">Blog</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="privacy.html">Privacy</a></li>
    </ul>
    <p class="small">© 2017 SailWith.</p>
  </div>
  <!-- /.container-->
</footer>