//global
$primary-color: #2199e8;
$dark-primary-color: #0f507a;
$light-primary-color: #66b9f0;
$dark-gray: #454545;
$light-gray: #5e5e5e;

$danger-color: #BB2124;
$success-color: #22BB33;
$warning-color: #F0AD4E;

//font
$font-stack: 'Raleway', 'Helvetica', 'Arial', sans-serif;

//etc

//forms
$form-border-radius: 5px;
$form-box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
